<!doctype html>
<html>
  <head>
    <!-- <title>Smart Garbage Collector</title> -->
    <link href="/assets/styles.css" rel=stylesheet type="text/css"> 
  </head>

  <body>
        <body>
                <% include partials/nav.ejs %>
                <p>Time: <%=data.time %></p> 
                <p>Garbage Level: <%=data.level %></p>
                <p>Gas Status: <%=data.gas %> </p>
        </body>
  </body>